{% set navbar_class = 'uk-navbar-transparent' %}
{% set hide_middle_logo = True %}

{% extends "layouts/dashboard.html" %}

{% block head %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159537229-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159537229-1');
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.css" />
{% endblock head %}

{% block content %}
<div class="uk-container uk-container-center uk-text-center">
    <img height="250" width="250" src="/static/img/logo-small.png" title="Fuzzcoin" alt="Fuzzcoin Logo">
    <h1 style="margin-top: 0" class="uk-heading-medium uk-text-bold">Fuzzcoin</h1>

    <p>Fuzzing@Home. Help finding bugs in software.</p>
    <a href="https://fuzzhome.kr" class="uk-button uk-button-primary">Start fuzzing (as anonymous doner)</a>
</div>

  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-flex uk-flex-center">
	      <div id="terminal"></div>
      </div>
    </div>
  </div>

  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <div class="uk-flex uk-flex-center">
          <article id="how-it-works" class="uk-article">

              <h1 class="uk-article-title">What is FuzzCoin?</h1>

              <hr class="uk-divider-small">

              <p class="uk-column-1-2@s uk-dropcap">
	      FuzzCoin allows people to share their spare computing power for the use of good: Fuzzing (automatic bug finding).
	      Borrowed from <span style="color:gold"><b>BitCoin</b></span>, FuzzCoin incorporates the <span style="color:yellow"><i>Proof-of-Work</i></span>
	      concept to fuzzing; enabling people to collaboratively <i>mine</i> bugs.
	      See the list of our <a href='{{ url_for('dashboard.projects_list') }}'>fuzz-mining-pools</a>. You can contribute to these projects by running our
	      fuzzing-client: (1) Linux-Docker based (require linux environment), 
	      (2) Web-Browser based (1-click instant start with WASM. convinient to join, but you don't get to access discovered bugs). 
	      The fuzzing-client will automatically perform the bug mining, generate <i>Proof-of-Work</i>, and upload it to our server every 5~10 minuets.
	      In WASM-fuzzer, you can actually mutate a testcase on your own (like solving a puzzle game).
	      As a result, your account on this website gets some game points (depending on your computation power) for contribution ranking.

	      Today's biggest miner in this perspective is <span style="color:skyblue">G</span><span style="color:crimson">o</span><span style="color:orange">o</span><span style="color:skyblue">g</span><span style="color:forestgreen">l</span><span style="color:crimson">e</span>'s <span style="color:orangered">ClusterFuzz</span> (equipped with 25,000 cores).
	      However, as BitCoin demonstrated, no single machine can beat the computing power of massive public collaboration.
	      Gather your spare computers and join our fuzzing pool now! Let's beat Google's computing power together!
              </p>
          </article>
      </div>
    </div>
  </div>

  <div class="uk-section">
    <div class="uk-container">
      <div class="uk-flex uk-flex-center">
        <div class="uk-text-center">
            <h2 style="margin-bottom: 0" class="uk-heading-small">Total # Executions (Daily)</h2>
            <div id="chart"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block body_end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xterm/3.14.5/xterm.min.js"></script>
<script>
  var term = new Terminal({
    disableStdin: true,
    scrollback: 0,
    cols: 80,
    rows: 20,
    fontSize: 18,
    theme: {
      background: '#2d2a2e',
      foreground: '#fcfcfa',
      blue: '#ab9df2',
      cyan: '#78dce8',
      brightRed: '#ff6188',
      red: '#fc9867',
      yellow: '#ffd866'
    }
  });

  term.open(document.getElementById('terminal'));
  var afl_output = '\x1b[H\x1b[2J\x1b[?25l\x1b[H\r\n' +
	'                             \x1b[1;93mfuzzcoin \x1b[1;96m0.1 beta\x1b[1;92m (global)\r\n' +
    '\r\n' +
    '\x1b)0\x0e\x1b[1;90mlq\x0f\x1b[0;36m fuzzcoin timing \x0e\x1b[1;90mqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqwq\x0f\x1b[0;36m overall results \x0e\x1b[1;90mqqqqqk\r\n' +
    'x\x0f        run time : \x1b[0m{{ time                          }}\x0e\x1b[1;90mx\x0f  total projs : \x1b[0m67     \x0e\x1b[1;90mx\r\n' +
    'x\x0f   last coverage : \x1b[0m{{ last_cov_project              }}\x0e\x1b[1;90mx\x0f     uniq cov : \x1b[0m{{ n_cov  }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f      last crash : \x1b[0m{{ last_crash_project            }}\x0e\x1b[1;90mx\x0f uniq crashes : \x1b[0m{{ n_crash}}\x0e\x1b[1;90mx\r\n' +
    'tq\x0f\x1b[0;36m cluster stats \x0e\x1b[1;90mqqqqqqqqqqqqqqqqqqqqqwq\x0f\x1b[0;36m user activities   \x0e\x1b[1;90mqqqqqqqqqqqqqqqqqqqqu\r\n' +
    'x\x0f total users : \x1b[0m{{total_user        }}\x0e\x1b[1;90mx\x0f       last pofw : \x1b[0m{{ last_pofw       }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f total coins : \x1b[0m{{total_coin        }}\x0e\x1b[1;90mx\x0f   last coverage : \x1b[0m{{ last_cov        }}\x0e\x1b[1;90mx\r\n' +
    'x\x0factive users : \x1b[0m{{active_user       }}\x0e\x1b[1;90mx\x0f      last crash : \x1b[0m{{ last_crash      }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f  exec speed : \x1b[0m{{exec_sec          }}\x0e\x1b[1;90mx\x0f      last error : \x1b[0m{{ last_cheat      }}\x0e\x1b[1;90mx\r\n' +
    'tq\x1b[0;36m\x0f other info \x0e\x1b[1;90mqqqqqqqqqqqqqqqqqqqqqqqqvqqqqqqqqqqqqqqqwq\x0f\x1b[0;36m highest rewards \x0e\x1b[1;90mqqqqqqu\r\n' +
    'x\x0f   admin contact: \x1b[0mdaehee87@gatech.edu                \x0e\x1b[1;90mx\x0f cov  : \x1b[0m{{ high_cov   }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f   developers: \x1b[0mdaehee, ammar, insu, stong, taesoo    \x0e\x1b[1;90mx\x0f cov  : \x1b[0m{{ high_cov2  }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f   special thanks: \x1b[0mchulwon, jinho                    \x0e\x1b[1;90mx\x0f crash: \x1b[0m{{ high_crash }}\x0e\x1b[1;90mx\r\n' +
    'x\x0f   update: \x1b[0mweb-assembly integration (30 projects)    \x0e\x1b[1;90mx\x0f crash: \x1b[0m{{ high_crash2}}\x0e\x1b[1;90mx\r\n' +
    'x\x0f   working: \x1b[0mcoverage visualization, crash analysis   \x0e\x1b[1;90mtqqqqqqqqqqqqqqqqqqqqqqqqj\r\n' +
    'mqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqj\x0f\x1b[0m\x1b)B          \x1b[1;90m   [cpu:\x1b[1;91m200%\x1b[1;90m]\r\n' +
    '\x1b[0m\x1b[H\r\n';
  term.write(afl_output);

  console.log(term);
</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
  var options = {
    series: [{
      name: 'Total # Executions (M)',
      data: {{ exec_sec_list }}
    }],
    chart: {
      background: '#2d2a2e',
      height: 350,
      width: 700,
      type: 'area',
      toolbar: {
        show: false
      },
      zoom: {
        enabled: false
      }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'smooth'
    },
    xaxis: {
      type: 'datetime',
categories: {{ timestamp_list|tojson }}
    },
    tooltip: {
      x: {
        format: 'dd/MM/yy'
      },
    },
    theme: {
      mode: 'dark'
    }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
</script>
{% endblock %}
