{% set current_page = 'leaderboard' %}
{% extends "layouts/dashboard.html" %}

{% block content %}
<div class="uk-tile uk-tile-default">
  <div class="uk-flex uk-flex-center">
    <p class="uk-h2 uk-text-bold">FuzzCoin Ranking</p>
  </div>
  <center>Top 30 Miners</center>
</div>

{% for e in table %}
<div id="layer{{e['user'].id}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Details</h2>
	<p>{{e['desc']}}</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
        </p>
    </div>
</div>
{% endfor %}

<div class="uk-flex uk-flex-center">
    <table style="width:90%" class="uk-table uk-table-striped uk-table-small uk-width-1-2">
        <thead>
            <tr>
                <th width=20>Rank</th>
                <th width=110>Name</th>
                <th width=80>Fuzzcoin (K)</th>
                <th>Comment</th>
                <th width=60># PoFW Finished</th>
                <th width=60># Coverage Discovered</th>
                <th width=60># Bugs Found</th>
                <th width=240>Last Activity</th>
            </tr>
        </thead>
        <tbody>
          {% for e in table %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ e['user'].full_name }}</td>
		<td><a style="color:gold" href="#layer{{e['user'].id}}" uk-toggle>{{ "{:,.3f}".format(e['user'].point/1000) }}</a></td>
                <td>{{ e['user'].comment[:32] }}</td>
		<td>{{ "{:,}".format(e['user'].n_hash) }}</td>
		<td>{{ "{:,}".format(e['user'].n_cov) }}</td>
		<td>{{ "{:,}".format(e['user'].n_crash) }}</td>
		<td>{{ e['user'].last_update.strftime('%Y-%m-%d %H:%M:%S') }} ({{e['pool']}})</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
<center><span>*table updates every 5min.</span></center><br>
{% endblock %}
