{% macro render_form_errors(form) -%}
    {% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li class="uk-text-danger">
                    {{ form[field_name].label }}: {{ error }}
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}

{% macro render_form_field(field, icon=None) %}
    <div class="uk-margin">
        <label class="uk-form-label">{{ field.label }}</label>
        <div class="uk-form-controls">
            <div class="uk-inline">
            {% if icon %}<span class="uk-form-icon" uk-icon="icon: {{ icon }}"></span>{% endif %}
            {{ field(**kwargs) }}
            </div>
        </div>
    </div>
{% endmacro %}
