{% set current_page = 'profile' %}
{% extends "layouts/profile.html" %}

{% block below_tabs %}
<div class="uk-container uk-margin uk-width-expand">
    <div class="uk-flex uk-flex-center">
        <form method="POST" class="uk-form-horizontal uk-margin-small">
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">Email</label>
                <div class="uk-form-controls">
                    <input disabled class="uk-input uk-disabled uk-form-width-large" id="form-horizontal-text" type="text" value="{{ current_user.email }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">My FuzzCoin</label>
                <div class="uk-form-controls">
                    <input disabled class="uk-input uk-disabled uk-form-width-large" id="form-horizontal-text" type="text" value="{{ current_user.point }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"># PoFW Generated</label>
                <div class="uk-form-controls">
                    <input disabled class="uk-input uk-disabled uk-form-width-large" id="form-horizontal-text" type="text" value="{{ current_user.n_hash }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"># Found Coverage</label>
                <div class="uk-form-controls">
                    <input disabled class="uk-input uk-disabled uk-form-width-large" id="form-horizontal-text" type="text" value="{{ current_user.n_cov }}">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text"># Found Bugs</label>
                <div class="uk-form-controls">
                    <input disabled class="uk-input uk-disabled uk-form-width-large" id="form-horizontal-text" type="text" value="{{ current_user.n_crash }}">
                </div>
            </div>

            {{ form.csrf_token }}

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">{{ form.full_name.label }}</label>
                <div class="uk-form-controls">
                    {{ form.full_name(class='uk-input uk-form-width-large', value=current_user.full_name) }}
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="form-horizontal-text">{{ form.comment.label }}</label>
                <div class="uk-form-controls">
                    {{ form.comment(class='uk-input uk-form-width-large', value=current_user.comment) }}
                </div>
            </div>

            <button type="submit" class="uk-button uk-button-primary uk-button-large">Save</button>

	    <br>
	    <hr>
	    <center><span>My Bug List</span></center>
	    <br>
	    {% for bug in bugs %}
	    <a href='static/crashes/{{bug['url']}}'>{{bug['name']}}</a><br>
	    {% endfor %}
	    <br>* you can reproduce bug inside your fuzzer docker.<br>
	    check <a href='https://fuzzcoin.kr/readme'>user manual</a>.
        </form>
    </div>
</div>
{% endblock %}
