{% set current_page = 'error_events' %}
{% extends "layouts/dashboard.html" %}

{% block content %}
<div class="uk-tile uk-tile-default">
  <div class="uk-flex uk-flex-center">
    <p class="uk-h2 uk-text-bold">Error Event Logs</p>
  </div>
</div>

<div class="uk-flex uk-flex-center">
    <table style="width:85%" class="uk-table uk-table-striped uk-width-1-2">
        <thead>
            <tr>
                <th width=50>no</th>
                <th width=150>pool</th>
                <th width=150>type</th>
                <th width=200>time</th>
                <th width=300>slave_token</th>
            </tr>
        </thead>
        <tbody>
          {% for event in error_events %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ event.pool.name }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.time }}</td>
                <td>{{ event.slave_token }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



