{% set current_page = 'projects' %}
{% extends "layouts/dashboard.html" %}

{% block content %}
<div class="uk-tile uk-tile-default">
    <p class="uk-h2 uk-text-bold">Fuzzing Pools <span style="font-size:15px">(last sync with latest version)</span></p>
</div>

<div class="uk-container">

  <div class="uk-flex uk-flex-center">
	  {% if path != '' %}
	  <p><dt>Mine all pools: <code>curl https://fuzzcoin.kr/static/y.py | LIST={{ path }} python2</code></dt></p>
	  {% endif %}
  </div>

  <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
  {% for project in projects %}
    <div class="uk-flex uk-flex-center">
      <div class="uk-card uk-card-small uk-card-secondary uk-card-hover">
          <div class="uk-card-body">
	      <div class="uk-card-badge">
		     
		{% for i in range(stars[project.name]) %}
	         <span class="uk-icon-link" uk-icon="star" style="color:yellow"></span>
		{% endfor %}
	      
	      </div>
              <h3 class="uk-card-title uk-text-bold">
		      <a href="{{ url_for('dashboard.project', project_name=project.name) }}">{{ project.name }}</a>{{dates[project.name]}}
              </h3>
              <p style="height: 50px">{{ project.description | truncate(100) }}</p>
              <p>
                <a href="{{ url_for('dashboard.project', project_name=project.name) }}" class="uk-button uk-button-text">Join now</a>
              </p>
          </div>
          <div class="uk-card-media-bottom">
	      <img src="{{ url_for('static', filename = 'covers/' + project.name + '.png') }}" alt="">
          </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% endblock %}


