{% set current_page = 'learn more' %}
{% extends "layouts/dashboard.html" %}
{% block content %}
    <body>
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-1">
                </div>
            </div>

            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-3-4">

                    <h2 id="getstarted">Are you a bug hunter? Try out FuzzCoin.</h2>

		    <p>FuzzCoin is a public fuzzing network inspired from group-mining of BitCoin.
		    To put it in one sentence, Fuzzing is a computer technique to automatically find software defects; which is helpful
		    to software developers making their product secure and trustworthy <a href="https://youtu.be/DFQT1YxvpDo?t=1396">What is Fuzzing?</a>.
		    In BitCoin you want to find hash collision, but in FuzzCoin you want to find bugs (or new code coverage).

		    Your mining bot will join a fuzzing-pool that you choose and fireup isolated (docker)
		    environment to run fuzzer and generate <code>Proof-of-Fuzzing-Work (PoFW)</code> to get fuzzcoins.<br>
		    From business perspective, fuzzcoin is an ecosystem depicted as follow.<br>
		    <br>
		    <img src="./static/readme/eco.png">
		    <br><br>
		    We want your computing power for large-scale distributed fuzzing
		    (Google's ClusterFuzz is based on 25,000 CPU cores. We need you to outperform Google).
		    In return, <b>even if you couldn't find any bugs</b>, you get FuzzCoin points
		    simply by submitting the proof-of-fuzzing-work; similarly to BitCoin group mining.
		    You can earn FuzzCoin points with following three events and enroll your self to ranking board.<br>

                    <div class="uk-overflow-container">
                        <table class="uk-table uk-text-nowrap">
                            <thead>
                                <tr>
                                    <th>Reward Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><span class="uk-badge">PoFW</span></td>
				    <td>Proof-of-Fuzzing-Work. This is a <code>hash value that our fuzzer generates</code> to prove that you actually ran our fuzzer.<br> 
					Fuzzing pool server will verify your PoFW and give you tiny reward (typically one fuzzcoin).<br>
					Some fuzzing pools do not give reward based on PoFW based on their configuration and policy.</td>
                                </tr>
                                <tr>
                                    <td><span class="uk-badge">Coverage</span</td>
				    <td>This is the main type of reward you will hunt (harder than PoFW, easier than Crash).<br>
					    <code>Coverage</code> here is defined as "a special input that expands the global code coverage".<br>
					This indicates that you found some special input data which makes the software to execute<br>
					the previously unexplored portion of the code.<br>
					Finding and expanding the coverage will eventually accelerate our system to find crashes.</td>
                                </tr>
                                <tr>
                                    <td><span class="uk-badge">Crash</span></td>
				    <td>This is the ultimate discovery we want to make. <code>Crash</code> here is defined as "an input that triggers crash<br>
					to the target software", which means your fuzzer actually found a software defect that needs to be fixed.<br>
					Typically, you will get a substantial amount of FuzzCoins for this.<br>
					The crash-triggering input that you (fuzzing bot) found will be reported to fuzzing-pool masters<br>
					(software developers of the project) with discoverer's ID and this project.<br>
					You can also report the bug you found, but please mention this project to the report <br>
					(e.g., "bug was discovered using fuzzcoin").</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h3>Usage Example</h3>

                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-medium-1-3">
                            <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">0. Donation Mode</h3>
				For people who aren't familiar with fuzzers/linux stuffs, we provide WASM-fuzzer.<br>
				WASM-fuzzer runs inside your web-browser, thus there is absolutly no need for any cumbersome setups.<br>
				You don't even need to sign up, just click a link and you can contribute to our research.<br>
				If you have account and you are logged in when you click the link, WASM-fuzzer will get you points (slowly).<br>
				If not, you are considered as an anonymous doner for our fuzzing project.<br>
				You should see something like the following if your WASM-fuzzer is successfully running.<br><br>
				<img border=1 src="./static/readme/wasm.png" width="60%" height="60%"><br><br>
                            </div>
                        </div>

                        <div class="uk-width-medium-1-3">
                            <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">1. Create Account</h3>
				To list your self for contribution ranking, run linux-based fuzzers, you need to create an account. It only takes your Name/Email/Password.<br>
				After you login, you can select the fuzzing pool you want to join (choose an open-source project that you want to contribute).<br>
				Once you click a project, you will see something like this.<br><br>
				<img border=1 src="./static/readme/proj.png" width="60%" height="60%"><br>
                            </div>
                        </div>
			&nbsp;&nbsp;
                        <div class="uk-width-medium-1-3">
                             <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">2. Setup Environment</h3>
				To run fuzzer you need Linux environment (you can your web-browser for WASM-fuzzers, but you can't access bugs in that case)<br>
				For Linux environment we recommend the following distros: Ubuntu 16.04/18.04 (mostly recommended), Debian 10.x, and CentOS 7.x (all 64bit).<br>
				In the fuzzing-pool project page (you can see once you login), we provide a command-line you can copy and paste to your terminal.<br>
				The command-line downloads our python bootstrap script and executes. You should see something like this if things happen without error.<br><br>
				<img src="./static/readme/step1.png">
                            </div>
                        </div>
			&nbsp;&nbsp;
                        <div class="uk-width-medium-1-3">
                             <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">3. Running Fuzzer</h3>
				For WASM-fuzzers, no need to setup at all (just click the linke and done).<br>
				For Linux-fuzzers do as our setup script tells you and you are all set!<br>
				You should see the following screen when you successfully start fuzzcoin mining.<br><br>
				<img src="./static/readme/step2.png">
                            </div>
			</div>
			&nbsp;&nbsp;
                        <div class="uk-width-medium-1-3">
                             <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">4. Download Your Bugs</h3>
				You can list the bugs you found and download them from the web site.<br>
				Note that your bug can be automatically reported to developers (with your credit).<br><br>
				<img border=1 src="./static/readme/mybug.png" width="60%" height="60%"><br><br>

				The bug file you download is essentially libfuzzer's input file.<br>
				To test/reproduce your bug, the best way is connecting inside your docker container as below.<br>
				<img border=1 src="./static/readme/reproduce.png" width="60%" height="60%"><br>
				1. `sudo docker ps` to get your running container ID.<br>
				2. `sudo docker exec -it [your_container_id] bash` to get inside docker container.<br>
				3. inside docker, you will see a file starting with `crash-` prefix (if you found crash).<br>
				4. run `/target.bin /crash-xxxxxxxxxxxxxxxxx` to reproduce crash and see ASAN result.<br>
				* You can extract the `target.bin` (libfuzzer binary) to your host and try the same thing<br>
				but if there is mismatch in environment (e.g., library) you might fail to reproduce crash.<br><br>
				* If you kill your docker and restart, put your crash input inside docker (via shared folder),<br>
				your fuzzer `target.bin` might be changed into different version<br>
				thus fail to reproduce the crash (some projects has multiple versions of `target.bin`, e,g, 10 or 100).<br>
				So, it is best not to exit your docker since the moment you found crash (to maintain same environment).<br>
				For some projects, you might get the different version of `target.bin` when you restart your docker container.<br>
				As an alternative, you can download fuzzer binaries from each project pages and feed your crash input to all of them.<br>
				If you have trouble reproducing the bug, contact admin for support.<br>
                            </div>
                        </div>
			&nbsp;&nbsp;
                        <div class="uk-width-medium-1-3">
                            <div class="uk-panel uk-panel-box">
                                <h3 class="uk-panel-title">5. Advanced Linux Users</h3>
		    		If you have fancy multi-core CPU, you can run multiple fuzzers in parallel and maximize your computing power.<br>
				In your `fuzzcoin-worker` folder, you will see `multi-run.sh` script.<br>
				Try `multi-run.sh [#core]` which will install `tmux` (for management) and start multiple tmux sessions.<br>
				Each tmux session will pin your CPU cores to your fuzzer. See below.<br>
				<img border=1 src="./static/readme/multicore.png" width="60%" height="60%"><br><br>

				Also, you can customize details (CPU usage, Pools you want to fuzz, etc) in your `Advanced` menu.<br>
				Refer the following menu (require login).<br>
				<img border=1 src="./static/readme/advanced.png" width="60%" height="60%"><br>
				
                            </div>
                        </div>
			&nbsp;&nbsp;
                    </div>

                    <hr class="uk-grid-divider">

    </body>


{% endblock %}


