{% import "security/macros.jinja2" as macros %}
{% extends "layouts/security.html" %}

{% block content %}
<div class="uk-flex uk-flex-center">
<div style="margin-top: 20px; margin-bottom: 20px" class="uk-card uk-card-secondary uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Register</h3>
                <p class="uk-text-meta uk-margin-remove-top">Please enter your registration information</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
      {{ macros.render_form_errors(register_user_form) }}

      <form class="uk-form-horizontal" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">

          {{ register_user_form.hidden_tag() }}

          {{ macros.render_form_field(register_user_form.full_name, icon="user", placeholder="Full Name", class="uk-input") }}
          {{ macros.render_form_field(register_user_form.email, icon="mail", placeholder="test@example.com", class="uk-input") }}
          {{ macros.render_form_field(register_user_form.comment, icon="pencil", placeholder="I am a fuzzing worker", class="uk-input") }}
          {{ macros.render_form_field(register_user_form.password, icon="lock", type="password", class="uk-input") }}

          {% if register_user_form.password_confirm %}
            {{ macros.render_form_field(register_user_form.password_confirm, icon="lock", type="password", class="uk-input") }}
          {% endif %}

          <div class="uk-margin">
              {{ register_user_form.submit(class="uk-button uk-button-primary") }}
          </div>

          </form>
    </div>
    <div class="uk-card-footer">
      Already have an account? Please <a href="{{ url_for('security.login') }}">login</a><br/>
      {% if security.recoverable %}
      Forgot your password? Recover <a href="{{ url_for('security.forgot_password') }}">it here</a>.
      {% endif %}
    </div>
</div>
</div>
{% endblock %}
