{% import "security/macros.jinja2" as macros %}
{% extends "layouts/security.html" %}

{% block content %}
<div class="uk-flex uk-flex-center">
<div style="margin-top: 20px; margin-bottom: 20px" class="uk-card uk-card-secondary uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">Resend Confirmation</h3>
                <p class="uk-text-meta uk-margin-remove-top">Use this to resend </p>
            </div>
        </div>
    </div>

    <div class="uk-card-body">
        {{ macros.render_form_errors(send_confirmation_form) }}

        <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
            {{ send_confirmation_form.hidden_tag() }}

            {{ macros.render_form_field(send_confirmation_form.email, icon="mail", placeholder="me@example.com", class="uk-input") }}

            <div class="uk-margin">
                {{ send_confirmation_form.submit(class="uk-button uk-button-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
